body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: black;
}

.cabecalhoPrincipal {
  background-color: white;
  box-shadow: 0px 5px 20px 10px rgb(0 0 0 / 70%);
}

.cabecalhoPrincipal .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.cabecalhoPrincipal-titulo {
  width: 20%;
}

.cabecalhoPrincipal-titulo-logo {
  width: 100%;
}

.cabecalhoPrincipal-nav {
  display: inline-block;
  box-sizing: border-box;
}

.cabecalhoPrincipal-nav-itens {
  margin-left: 1em;
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: 0.5s all;
}

.cabecalhoPrincipal-nav-itens:hover {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(237, 28, 36);
}

main {
  box-sizing: border-box;
  color: black;
}

.conteudoPrincipal {
  position: relative;
}

.conteudoPrincipal::before {
  content: "";
  background: transparent url(/imagens/background.webp);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}

.conteudoPrincipal .container {
  text-align: center;
}

.conteudoPrincipal-titulo {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2em 0;
}

.conteudoPrincipal-sabores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.conteudoPrincipal-sabores-pizzas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 22%;
  margin: 2% auto;
  height: 15em;
  padding: 1%;
  box-sizing: border-box;
  border: 3px solid rgb(168, 19, 24);
  border-radius: 15%;
  color: black;
  background: white;
  transition: 0.6s all;
}

.conteudoPrincipal-sabores-pizzas:hover {
  transform: scale(105%);
  border-style: dashed;
}

.imagemPizza {
  display: flex;
  justify-content: center;
}

.textosPizza {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.fotoDaPizza {
  width: 25%;
}

.nomeDaPizza {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(237, 28, 36);
  font-size: 22px;
  margin-top: 1em;
}

.descricaoDaPizza {
  opacity: 80%;
  margin-top: 1em;
}

.valorDaPizza {
  font-weight: bold;
  font-size: 18px;
  margin-top: 1em;
}

/*Parte Mobile..............*/
@media (max-width: 960px) {
  .cabecalhoPrincipal .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
  }

  .cabecalhoPrincipal-titulo {
    width: 100%;
  }

  .cabecalhoPrincipal-titulo-logo {
    width: 40%;
    margin: auto;
    display: block;
  }

  .cabecalhoPrincipal-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cabecalhoPrincipal-nav-itens {
    margin: 1em 0 0 0;
    font-size: 20px;
  }

  .cabecalhoPrincipal-nav-itens-app {
    order: -1;
  }

  .conteudoPrincipal-sabores-pizzas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    margin: 2% auto;
  }
}


